<section id="chat">
    <div id="chat-history">

    </div>
    <form id="chat-form">
        <i id="user-email"></i>
        <input type="text" id="chat-input">
        <input type="submit" value="Enviar">
    </form>
</section>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="../js/chat.js"></script>