<div class="container">
    <section id="profile" class="d-flex flex-column rounded bg-light p-3 my-3" style="width: 40rem;">
        <div>
            <img src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp" class="rounded-circle" height="25"
                alt="Black and White Portrait of a Man" loading="lazy" />
        </div>

        <h3 class="title-dark">{{user.first_name}} {{user.last_name}}</h3>
        <p>{{user.email}}</p>
        <p>Role: {{user.role}}</p>
    </section>

</div>